* {
	font-family:
		Helvetica,
		Arial,
		'Hiragino Kaku Gothic ProN',
		'ƒqƒ‰ƒMƒmŠpƒS ProN W3',
		Meiryo UI,
		Meiryo,
		ƒƒCƒŠƒI,
		sans-serif;
	margin: 0;
}

::selection {
	background: #D0E544;
}

html, body {
	margin: 0;
	padding: 0;
	background: #fff;
}

body {
	background-image: url("grid.png");
	background-repeat: repeat;
}

header {
	height: 100px;
	background: #F8F8F8;
	/*
	background-image: url("grid.png");
	background-repeat: repeat;
	*/
}
	header h1 {
		width: 1024px;
		max-width: 100%;
		margin: 0 auto;
	}
	header img {
		height: 100px;
	}

main {
	width: 1500px;
	max-width: 100%;
	margin: 0 auto;
}

	main > section > h2 {
		padding: 2px 8px;
		font-weight: normal;
		font-size: 1.2em;
		background: #f8f8f8;
		color: rgba(0, 0, 0, 0.7);
		border-bottom: solid 1px #ddd;
	}
	main > section > h2:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 8px;
		height: 8px;
		margin-right: 8px;
		/*background: #D0E544;*/
		background: #A7D815;
	}

#sourceContainer {
	float: left;
	box-sizing: border-box;
	min-width: 50%;
	max-width: 50%;
	margin: 0;
	padding: 0;
}

#source {
	box-sizing: border-box;
	min-width: 100%;
	max-width: 100%;
	min-height: 12em;
	height: 15em;
	padding: 8px 12px;
	
	font-size: 1em;
	-webkit-appearance: none;
	outline: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	
	background-image: url("grid.png");
	background-repeat: repeat;
	
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 14px;
	line-height: 1.2;
	
	transition: border 0.5s ease, box-shadow 0.1s ease;
}

#outputContainer {
	box-sizing: border-box;
	min-width: 50%;
	max-width: 50%;
	margin: 0;
	padding: 0;	
	
	background: #fcfcfc;
	
		background-image: url("grid.png");
	background-repeat: repeat;
}

#output {
	box-sizing: border-box;
	width: 100%;
	
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 14px;
	line-height: 1.1;
}

#outputContainer pre {
	overflow-x: scroll;
	padding: 16px;
}



#preview {
	position: relative;
	float: right;
	box-sizing: border-box;
	width: 50%;
	max-width: 100%;
	margin: 0 auto;
	
	background: #fff;
}

	#preview article {
		padding: 16px;
	}
		#preview article section {
			margin: 8px;
		}
		#preview article p {
			margin: 4px;
		}
		#preview article strong {
			color: #0af;
		}
		#preview article a {
			color: #B7C805;
		}
		#preview article blockquote {
			padding: 8px;
			border-left: solid 3px #ddd;
		}
		#preview article h1,
		#preview article h2 {
			background: none;
		}
		#preview article h1 {
			margin: 0 0 8px 0;
			padding: 4px;
			font-size: 2em;
			color: #444;
			border-bottom: solid 2px #ddd;
		}
		#preview article h2 {
			margin: 0 0 8px 0;
			padding: 4px;
			font-size: 2em;
			color: #555;
			border-bottom: dashed 1px #ccc;
		}
		#preview article code {
			display: inline-block;
			margin: 4px;
			padding: 8px;
			background: #f7f7f7;
			border-radius: 4px;
		
			font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
		    font-size: 14px;
		    line-height: 1.2;
		}
		
		#preview article pre > code {
			display: block;
			padding: 16px;
			overflow-x: scroll;
		}
		#preview article table {
			border-collapse: collapse;
			border: solid 1px #eee;
		}
			#preview article table th,
			#preview article table td {
				padding: 8px 12px;
			}
			#preview article table th {
				font-weight: bold;
				font-size: 1.2em;
				color: #555;
				background: #eee;
			}
		
		
#tableOfContents {
	position: absolute;
	top: 0;
	right: 0;
	width: 192px;
	padding: 4px;
	
	border: solid 1px #ddd;
	background: #fff;
}

	#tableOfContents ol {
		counter-reset: i;
		display: block;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: hidden;
		list-style: none;
	}
		#tableOfContents ol ol {
			padding: 0 0 0 32px;
		}
		#tableOfContents ol li {
			margin: 0;
			padding: 0;

			border-top: solid 1px #eee;
			/*border-bottom: solid 1px rgba(0, 0, 0, 0.1);*/
		}
		#tableOfContents ol li a:before {
			display: inline-block;
			counter-increment: i;
			content: counter(i);
			padding: 0 8px 0 0;
			margin: 0 8px 0 0;

			font-weight: normal;
			color: #777;
			border-right: solid 1px #ddd;
		}
			#tableOfContents > ol > li > a {
				font-weight: bold;
			}
			#tableOfContents ol li a {
				display: inline-block;
				box-sizing: border-box;
				width: 100%;
				margin: 0;
				padding: 4px 8px;

				text-decoration: none;
				color: #A7D800;
				/*transition: all ease 5s;*/
			}
				#tableOfContents ol li a:hover {
					text-decoration: underline;
					/*transition: all ease 0s;*/
				}
				#tableOfContents ol li a:active {
					/*transition: all ease 0s;*/
				}
	#tableOfContents .section > a {
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding: 4px 8px;

		background: #eee;
		
		text-decoration: none;
		color: #000;
	}
	
#error ol li {
	color: #f50;
}